@import "variables";

#mainContent{
  min-height: 500px;
  height: auto;
  float: left;
  width: $widthMainContent;
  //overflow: auto;
  article{
    max-width: 100%;
    padding: $main-content-padding;
    iframe{
      max-width: 80%;
    }
  }

}